.home{
    border-radius: 10px;
}
.container {
    display: flex;
    width: 1400px;
    height: 850px;
    margin: auto;
    border-radius: 10px;
    border: 1px solid #000000;

}

.sidebar{
    width: 400px;
    border-right: 1px solid black;
}

.chat-container{
    margin-left: 10px;
    width: 950px;
}
